<div class="header">
  <div class="logo">Logo</div>
  <div class="search">
    <form action="/result" method="POST">
      <input type="text" name="search" id="search-bar">
      <input type="submit" onclick="searchFunctionality()">
    </form>
  </div>
  <div class="account">
    <a href="/login">Login</a>
  </div>
</div>
<script src="/search.js"></script>