<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/global.css">
  <title>Signup</title>
</head>
<body>
  <%- include("./partials/header.ejs") %>
  <div class="container">
    <h1>Signup</h1>
    <form class="signup-form" action="/signup" method="POST">
      <div>
        <label for="firstName">First Name</label>
        <input type="text" name="firstName">
      </div>
      <div>
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName">
      </div>
      <div>
        <label for="userName">Username</label>
        <input type="text" name="userName">
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" required>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" required>
      </div>
      <div>
        <label for="isAdmin">Admin?</label>
        <input type="checkbox" name="isAdmin">
      </div>
      <button type="submit">Signup</button>
    </form>
    <div class="extra">
      <a href="/">Homepage</a>
      <a href="login">Login</a>
    </div>
  </div>
</body>
</html>
